*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

html, body{
    width: 100%;
    height: 100vh;
}

main {
    padding-top: 150px;
    background-color: rgb(246, 246, 246);
    width: 100%;
}

.h1 {
    display: flex;
    font-size: 2em;    
    justify-content: center;
}

a {
    text-decoration: none;
    color: white;
}

header {
    position: fixed;
    width: 100%;
    z-index: 1000; 
    height: 100px;
    background-color: black;
    display: flex;      
    justify-content: space-around;
    align-items: center;
}

.buttonAndLogo {
    display: flex;
    min-width: 10%;
    align-items: center;
    justify-content: space-around;
}

#header-elements{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5%;
    width: 100%;
    margin: 20px auto;
    max-width: 1500px;
}

#btnMeusPedidos {
    position: fixed;
    bottom: 0;
    color: black;
    right: 0;
}


#carrinho {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(0, 196, 0);
    border-radius: 50px;
    gap: 10px;
    transition: background-color 0.2s ease;
    padding: 10px 20px;
    border: none;
}

#carrinho:hover {
    background-color: rgb(2, 151, 2);
    cursor: pointer;
}

i {
    color: white;
    font-size: 30px;
}

#txt {
    color: white;
    font-size: 14px;
}

.item-header {
    display: flex;
    min-width: 10px;
}


#button-menu {
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    transition: color 0.3s;
}

#button-menu:hover {
    color: rgb(244, 0, 216);
    cursor: pointer;
}
#logo {
    max-width: 45px;
}

.conta {
    color: rgb(247, 247, 247);
}

.pesquisa{
    justify-content: center;
}

.pesquisa > #caixaPesquisa{
    width: 700px;
    border: none;
    padding: 10px;
    border-radius: 10px;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
 
}

.banner img {
    width: 10px;
    border-radius: 10px;
}

.container-catalogo {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0% 10%;
    justify-content: center;
}

.elementos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    max-height: 500px;
    max-width: 250px;

    transition: 0.3s ease;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    padding: 10px;
    background-color: white;
    font-size: 10px;
    justify-content: space-between;

    margin-left: 3%;
    margin-bottom: 3%;
    
}

#elementos-barra-cima{
    display: flex;
    font-size: 10px;
    justify-content: space-between;
}

#elementos-barra-cima .box{
    display: flex;
    flex-direction: column;
    border: 2px solid red;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    font-size: 10px;
    color: red;
    justify-content: center;
    width: 21%;
}

#elementos-barra-cima #container-desconto{
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    color: white;
    background-color: red;
}

#elementos-barra-cima li{
    list-style: none;
    line-height: 1.2;
}

.txto {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    overflow: hidden;
    -webkit-box-orient: vertical;
    height: 70px;
    margin-bottom: 2%;
}

#txtRestam{
    font-size: 0.9em;   
}

#txt25{
    font-weight: bold;
    font-size: 1em;   
}

#txtUnid{
    font-size: 0.9em;
}

#txtSeta{
    font-size: 1.3em
}

#desconto {
    font-size: 1.5em;
    font-weight: bold;
    color: white;
}


.elementos:hover{
    box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.47);
    transform: translate(0, -1%);
    transition: 1s;
    cursor: pointer;
}

.elementos .container-img {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.elementos .container-img img{
    height: 160px; 
    object-fit: cover; 
}


.elementos p {
    color: rgb(56, 56, 56);
    font-weight: 600;
    font-size: 0.78rem;
    margin: 15px 0px 5px 5px;
    overflow: hidden;
    max-height: 4.3em;
}

.elementos .container-botao {
    display: flex;
    justify-content: center;
}

.elementos #preco-promo {
    font-size:2em;
    font-weight: bold;
    margin: 0px 5px;   
    color: rgb(8, 123, 0);  
}

.elementos #desc {
    font-size: 1.2em;
    margin: 0px 0px 12px 5px; 
    color: black;   
}

.elementos #botao { 
    background-color: rgb(254, 24, 24);
    border: none;
    color: white;
    padding: 9px;
    font-size: 12px;
    border-radius: 5px;
    font-weight: bold;
    width: 100%;
}

#botao:hover {
    background-color: rgb(255, 65, 65);
    cursor: pointer;
}

.txt-icon {
    color: black;
}

.footer {
    width: 100vw;
    height: 170px;
    background-color: black;
}

@media screen and (max-width:715px) {
    .container-catalogo{
        display: flex;
        flex-direction: column;
    }

    .elementos {
        width: 100%;
        max-width: 400px;
    }
}

@media screen and (max-width:932px) {
    .pesquisa {
        display: none;
    }

    #header-elements {
     justify-content: space-between;
    }

    .container-catalogo {
        grid-template-columns: repeat(2, 1fr);
    }
}
        
        
