* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    
}

html, body{
    width: 100%;
    height: 100vh;
}

main {
    padding-top: 100px;
    width: 100%;
}

a {
    text-decoration: none;
    color: white;
}

header {
    position: fixed;
    z-index: 1000; 
    width: 100%;
    height: 100px;
    background-color: black;
    display: flex;      
    justify-content: space-around;
    align-items: center;
}

.buttonAndLogo {
    display: flex;
    min-width: 10%;
    align-items: center;
    justify-content: space-around;
}

#header-elements{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5%;
    width: 100%;
    margin: 20px auto;
    max-width: 1500px;
}

#btnMeusPedidos {
    position: fixed;
    bottom: 0;
    color: black;
    right: 0;
}


#carrinho {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(0, 196, 0);
    border-radius: 50px;
    gap: 10px;
    transition: background-color 0.2s ease;
    padding: 10px 20px;
    border: none;
}

#carrinho:hover {
    background-color: rgb(2, 151, 2);
    cursor: pointer;
}

i {
    color: white;
    font-size: 30px;
}

#txt {
    color: white;
    font-size: 14px;
}

.item-header {
    display: flex;
    min-width: 10px;
}


#button-menu {
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    transition: color 0.3s;
}

#button-menu:hover {
    color: rgb(244, 0, 216);
    cursor: pointer;
}
#logo {
    max-width: 45px;
}

.conta {
    color: rgb(247, 247, 247);
}

.pesquisa{
    justify-content: center;
}

.pesquisa > #caixaPesquisa{
    width: 700px;
    border: none;
    padding: 10px;
    border-radius: 10px;
}

.container {
    width: 100%;
    justify-content: center;
    display: flex;  
    flex-wrap: wrap;
}

.selecionarCores {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 45px 0px;
}

.selecionarCores img {
    width: 80%;
    margin: 5px;
}

.selecionarCores #botao-cores {
    display: flex;
    background: none;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.7);
    transition: transform 0.1s ease;
    padding: 8px;
    max-width: 60px;
    max-height: auto;
    align-items: center;
    justify-content: center;
}

.selecionarCores #botao-cores:hover {
    transform: scale3d(1.02, 1.02, 1);
}

.t-b {
    padding: 30px 0px;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
}

.container-cores {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 30px 0px;
    justify-content: space-evenly;
    align-items: center;
}

.container-cores img{
    width: 100px;
    border-radius: 20px;
    padding: 5px;
    transition: 0.3s;
}

.container-cores a:hover{
    cursor: pointer;
}

.container-cores img:hover{
    border: 10px solid rgb(136, 0, 255);
    transform: scale3d(1.02, 1.02, 1);
}

.container-cores .btnOpcao{
    background: none;
    border: none;
}

.container-cores .btnOpcao:hover{
    cursor: pointer;
}

.container-img {
    margin: 30px 100px;
}

.container-img img{
    max-width: 400px;
    max-height: 400px;
}

.container-esq {
    width: 700px;
}

.container-esq p{
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 25px;
}

.precos {
    display: flex;
    flex-direction: column;
    padding: 20px 0px 20px 15px;
   
}

.precos #antes {
    font-size: 80%;
    font-weight: bold;
    color: rgb(202, 0, 0);
}

.precos #depois {
    font-size: 250%;
    font-weight: bold;
    color: rgb(0, 136, 23);
}

#arm-int {
    font-size: 12px;
    margin-bottom: 5px;
    font-weight: bold;
}

.container-botao button {
    background-color: green;
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: white;
    width: 250px;
    font-weight: bold;
}

.container-botao button:hover{
    background-color: rgb(0, 91, 0);
}

.versoes {
    display: flex;
    justify-content: space-between;
    width: 190px;
}

.versoes p {
    padding: 5px;
    border-radius: 8px;
    margin-bottom: 40px;
    transition: top 1s ease;
    font-size: 11px;
    transition: transform 0.1s ease;
}

.versoes p:hover {
    position: relative;
    background-color: rgba(0, 51, 255, 0.3);
    transition: 0.3s;
    transform: translate(0%, -5%);
    cursor: pointer;
    
}


.container-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    padding: 30px;
    display: flex;
    margin-top: 10px;
    width: 730px;
    height: 100px;
    background-color: rgb(0, 0, 0);
    align-items: center;
    justify-content: space-around;
    margin-bottom: 100px;
    border-radius: 10px;
}

.box span{
    font-size: 15px;
    font-weight: bold;
    color: white;
}

.inputAndButton {
    align-items: center;
    display: flex;
}

.inputAndButton div {
    padding-inline-start: 30px;
}

.inputAndButton #botao{
    background-color: rgba(255, 255, 255);
    border: none;
    padding: 10px;
    border-radius: 8px;
    width: 200px;
}

.inputAndButton #botao:hover{
    background-color: rgba(44, 0, 44, 0.);
}

.inputAndButton #cep{
    border: none;
    padding: 10px;
    border-radius: 8px;
}

table {
    margin-top: 20px;
    width: 90%;
  }
  
th {
    background-color: rgba(128, 128, 128, 0.3);
}

th, td {
    padding: 8px;
    text-align: left;
    border: 5px solid white;
  }

#tdOne {
    background-color: rgba(128, 128, 128, 0.3);
}

.containerInfos {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.containerInfos h1 {
    font-weight: bold;
    font-size: 50px;
}






